@import "https://fonts.googleapis.com/css?family=Raleway:400,600|Lobster+Two:400i";
@import "./normalize.css";
/* -----------------------------------------------------------------------------
START OF GLOBAL STYLES
----------------------------------------------------------------------------- */

html, body {
  background-color: #f8f8f8;
  font-size: 62.5%; /* 1rem = 10px */
  text-align: center;
  height: 100%;
}

h2, h3, label, header > p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 70px;
  font-size: 7rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  margin: 0.5em;
}

p, input, button, .upload-file {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}

.content {
  margin: 0 auto;
  width: 100vw;
}

@media screen and (min-width: 751px) {

  .background-container {
    background-attachment: fixed;
    background-image: url(../images/background-cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }

  h1 {
    font-size: 90px;
    font-size: 9rem;
  }

  .content {
    padding: 5vh 0;
    width: 60vw;
  }
}

/* -----------------------------------------------------------------------------
END OF RESET AND GLOBAL STYLES
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
HEADER
----------------------------------------------------------------------------- */

header {
  padding: 5em 5em 0;
}

h1 > a {
  color: #202224;
}

header > p {
  font-size: 22px;
  font-size: 2.2rem;
}

@media screen and (min-width: 751px) {

  header {
    color: #fff;
  }

  h1 > a {
    color: #fff;
  }

  header > p {
    margin: 0.4em;
  }

}

/* -----------------------------------------------------------------------------
END OF HEADER
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
START OF MAIN CONTENT
----------------------------------------------------------------------------- */

.login, .register, .dashboard {
  background-color: #f8f8f8;
  border-radius: 1px;
  margin: 0 auto;
  max-width: 750px;
  padding: 3em;
}

.error-message {
  color: #db5461;
  font-family: 'Lobster Two', cursive;
}

/* Button and input fields starts here. ------------------------------------ */

.input-wrapper {
  background-color: #fff;
  border: 1px solid #efefef;
  color: #c3c3c3;
  height: 60px;
  height: 6rem;
  margin: 1rem 0;
  position: relative;
}

/* Completely remove from the flow but leave available to screen readers. */
.input-wrapper label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input, button {
  border: 0px solid;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

input {
  background-color: transparent;
  height: 6rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input-wrapper input:focus {
  border: 3px solid #47c9d3;
}

button, .choose-file + label.upload-file {
  background-color: #47c9d3;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px #e1dede;
  color: #fff;
  height: 60px;
  height: 6rem;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  background-color: #51dde7;
}

button:active {
  transform: translateY(5px);
}

.mint {
  background-color: #53db97;
  height: 50px;
  height: 5rem;
  margin-bottom: 3rem;
}

.mint:hover {
  background-color: #60f2a9;
}

/* Button and input ends here. ---------------------------------------------- */

.login p, .register p {
  margin-top: 1em;
} /* This styles the paragraph after main button. */

a {
  color: #47c9d3;
  text-decoration: none;
}

/* -----------------------------------------------------------------------------
END OF MAIN CONTENT
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
START OF DASHBOARD PAGE
----------------------------------------------------------------------------- */

.welcome-text {
  background-color: #db5461;
  line-height: 2.5rem;
  width: 100%;
}

.welcome-text > p {
  color: #FEFEFF;
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  font-size: 2rem;
  margin: 0;
  padding: 2rem 0 0.2rem;
}

.dashboard > header {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.selfie {
  box-sizing: border-box;
  border: 15px solid #db5461;
  width: 100%;
}

.placeholder-selfie {
  display: block;
  background-color: #db5461;
  height: 20vh;
  width: 100%;
}

.placeholder-selfie > p {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  font-size: 3rem;
  padding: 3rem;
}

/* Input field for uploading files starts here -------------------------------*/

.choose-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.choose-file + label.upload-file {
  background-color: #9ad2cb;
  display: block;
  height: 50px;
  height: 5rem;
  margin: 0.6rem 0;
  padding: 1.6rem 0;
}

.choose-file:focus + label.upload-file,
.choose-file + label.upload-file:hover {
    background-color: #b5ded9;
    width: 100%;
}

form {
  margin-bottom: 1em;
}

@media screen and (min-width: 751px) {

  .dashboard h1 {
    color: #202224;
  }

  .dashboard {
    background-image: none;
    background-color: #f8f8f8;
    color: #202224;
    margin: 0 auto;
    width: 60vw;
  }
}

/* -----------------------------------------------------------------------------
END OF DASHBOARD PAGE
----------------------------------------------------------------------------- */
